<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href='../static/style.css'>
    <script src="../static/script.js"></script>

    <title>summarization</title>
  </head>


  <body>


    <div class="file-preview-container">
      <h1> song detection</h1>
    </div>
    <div class="file-upload">
      <form action="/" method="POST" enctype="multipart/form-data" class="file-upload__area">
        <h3>Upload your music </h3>
        <input type="file" name="file" id="fileUpload" max="1" />
        <label for="email">Enter your email:</label>
        <input type="email" id="email" name="email"> 
        <button class="button button1" id="result"> Sumbit </button>
      </form>
    </div>


  </body>
</html>


<!-- <html> 
<head> 
	<title>upload the file : GFG</title> 
</head> 
<body> 
	<form action = "http://127.0.0.1:5000" method = "POST" enctype='multipart/form-data'> 
		<input type="file" name="fil" /> 
		<input type = "submit" value="Upload"> 
	</form> 
</body> 
</html>
 -->

<!-- 
 <html> 
<head> 
	<title>upload the file : GFG</title> 
</head> 
<body> 
	<form action = "/" method = "post" enctype="multipart/form-data"> 
		<input type="file" name="file" /> 
		<input type = "submit" value="Upload"> 
	</form> 
</body> 
</html> -->

